.env
backup.*
.DS_Store
node_modules
dist
.vscode
!.vscode/launch.json
.idea
*.log
.idea
*.tsbuildinfo

server/node_modules
server/.env
server/.DS_Store
server/.vscode

client/node_modules
client/.env
client/.DS_Store
client/.vscode
